body 
{
    background-color: #f3dade !important;
    text-align: center !important;
    width: 100dvw;
}

/* #btn-agregar {
    background-color: #d75e7f;
    color: #fafafa;
} */

.custom-color {
    background-color: #d75e7f !important;
    color: #fafafa !important;
}

.btn-container
{
    margin: 2.5dvh 15px;
}

caption
{
    caption-side: top;
}

h1
{
    margin-top: 10dvh !important;
    margin-bottom: 10dvh !important;
    font-size: 3rem !important;
}

textarea
{
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    resize: none !important;
}

.main-table tr {
    cursor: pointer;
}

.main-table thead tr {
    cursor: default;
}

.truncate {
    white-space: nowrap;        /* No permite que el texto se muestre en múltiples líneas */
    overflow: hidden;           /* Oculta el texto que se desborda del contenedor */
    text-overflow: ellipsis;    /* Agrega puntos suspensivos al final del texto truncado */
    max-width: 200px;           /* Ajusta el ancho máximo para truncar el texto según el tamaño que prefieras */
}

.search-bar-section {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    margin: 10px 15px;
}

.search-bar-section label {
    width: 100%;
}

#selected-filter {
    color: #fafafa;
    background-color: #d75e7f;
}


#main-table thead tr td {
    background-color: #d75e7f;
    color: #fafafa;
}

#main-table {
    margin: 0 15px;
}

.icon-attribution {
    margin-top: 2.5dvh;
}
.icon-attribution a {
    color:#d75e7f;
}

footer {
    margin-top: 10dvh;
}

footer p {
    margin-bottom: 0;
}

#link-agregar {
    color:#d75e7f;
}

.link-title {
    display: inline;
}