body 
{
    background-color: #ffffcc !important;
    text-align: center !important;
}

.btn-container
{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
}

h1
{
    margin-top: 1rem !important;
}

