{% extends "layout.html" %}

{% block title %}
Agregar
{% endblock %}

{% block main %}
    <h1> {{ titulo }}</h1>
    <div class="btn-container">
        <a href="/{{ back }}" class="btn btn-secondary btn-lg">Volver</a>
    </div>

    <!-- Agregar principal form -->

    <form action="/{{ action }}" class="row" method="post">

        <!-- Medialunas inputs -->

        <div class="form-group col-md-4">
            <h6> Medialuna </h6>
            <div>
                <input type="text" name="cantidad" placeholder="cantidad" required value="{{ medialuna['cantidad'] }}">
            </div>
            <div>
                <input type="text" name="levado_minutos" placeholder="levado_minutos" required value="{{ medialuna['levado_minutos'] }}">
            </div>
            <div>
                <input type="text" name="coccion_minutos" placeholder="coccion_minutos" required value="{{ medialuna['coccion_minutos'] }}">
            </div>
            <div>
                <input type="text" name="costo_c_una" placeholder="costo_c_una" required value="{{ medialuna['costo_c_una'] }}">
            </div>
            <div>
                <input type="text" name="cantidad_vendida" placeholder="cantidad_vendida" required value="{{ medialuna['cantidad_vendida'] }}">
            </div>
            <div>
                <input type="text" name="precio_c_una" placeholder="precio_c_una" required value="{{ medialuna['precio_c_una'] }}">
            </div>
            <div>
                <input type="text" name="ganancia" placeholder="ganancia" required value="{{ medialuna['ganancia'] }}">
            </div>

            <!-- Medialunas' select tags -->

            <div>
                <label for="tipo"> Tipo: </label>
                <select name="tipo" id="tipo" value="{{ medialuna['tipo'] }}">
                    <option value="produccion"> Produccion </option>
                    <option value="practica"> Practica </option>
                </select>
            </div>
            
            <div>
                <label for="masa_madre"> Masa madre: </label>
                <select name="masa_madre" id="masa_madre" value="{{ medialuna['masa_madre'] }}">
                    <option value="poolish"> Poolish </option>
                    <option value="biga"> Biga </option>
                    <option value="masamadre"> Masa madre </option>
                </select>
            </div>
        </div>

        <!-- Ingredientes inputs -->
        
        <div class="form-group col-md-4">
            <h6> Ingredientes </h6>
            {% for columna in columnas_ingredientes_precios %}
                <div>
                    <input type="text" name="{{ columna }}" placeholder="{{ columna }}" required value="{{ ingredientes[ columna ] }}">
                </div>    
            {% endfor %}
        </div>

        <!-- Precios inputs -->
        
        <div class="form-group col-md-4">
            <h6> Precio </h6>
            {% for columna in columnas_ingredientes_precios %}
            <div>
                <input type="text" name="precio_{{ columna }}" placeholder="{{ columna }}" required value="{{ precios[ columna ] }}">
            </div>         
            {% endfor %}
        </div>
        
        <!-- Text form -->

        <div>
            <textarea name="texto" cols="50" rows="5">{{ medialuna['texto'] }}</textarea>
        </div>

        <!-- Submit -->
        
        <div class="col-12">
            <button type="submit" class="custom-color btn btn-lg mb-2">{{ boton }}</button>
        </div>

    </form>

    <!-- If statement to only work on /editar mode -->
     
    {% if action != "agregar" %}
        <script src="../static/agregar.js"></script>
    {% endif %}

{% endblock %}