{% extends "layout.html" %}

{% block title %}
    Medialuna Nº: {{ medialuna["id"] }}
{% endblock %}

{% block main %}
<h1> Detalle de Medialuna Nº: {{ medialuna["id"] }} </h1>
<div class="btn-container">
    <a href="/" class="btn btn-secondary btn-lg">Volver</a>
    <a href="/editar/{{ medialuna['id'] }}" class="btn btn-primary btn-lg"> Editar </a>
    <a href="/eliminar/{{ medialuna['id'] }}" class="btn btn-danger btn-lg" id="btn-delete">Eliminar</a>
</div>
<div class="container table-responsive-sm">
    <table class="table table-sm table-hover table-bordered border-dark">
        <caption> Medialuna Nº: {{ medialuna["id"] }} </caption>
        <tbody>
            {% for key in medialuna %}
            <tr>
                <td> {{ key }} </td>
                <td> {{ medialuna[key] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-sm table-hover table-bordered border-dark">
        <caption> Ingredientes y precios </caption>
        <thead class="table-dark">
            <tr>
                <th> Ingrediente </th>
                <th> Cantidad (gr) </th>
                <th> Precio </th>
            </tr>
        </thead>
        <tbody>
            {% for key in ingredientes %}
            <tr>
                <td> {{ key }} </td>
                <td> {{ ingredientes[key] }} </td>
                <td> 
                    <!-- if to prevent id value to have an $ sign -->
                    {% if ( key == "id") %} 
                        {{ precios[key] }}
                    {% else %}
                        ${{ precios[key] }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="../static/detalle.js"></script>
{% endblock %}