{% extends "layout.html" %}

{% block title %}
    Medialunas - Home
{% endblock %}

{% block main %}
    <h1 class="title"> Medialunas </h1>
    <div class="btn-container">
        <a href="/agregar" class="btn btn-primary btn-lg">Agregar</a>
    </div>
    <div class="container table-responsive-sm">
        <table class="table table-sm table-hover table-bordered border-dark">
            <caption> Lista de medialunas </caption>
            <thead class="table-dark">
                <tr>
                    {% for columna in columnas_medialunas %}
                    <td> {{ columna }} </td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for medialuna in medialunas %}
                <tr data-url="{{ url_for('mostrar_detalle', id=medialuna[0]) }}">
                    {% for valor in medialuna %}
                    <td class="truncate"> {{ valor }} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Attribution to favicon creators -->
    <a href="https://www.flaticon.com/free-icons/bread" title="bread icons">Bread icons created by Smashicons - Flaticon</a>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const rows = document.querySelectorAll('tr[data-url]');
          rows.forEach(row => {
            row.addEventListener('click', function() {
              window.location.href = this.getAttribute('data-url');
            });
          });
        });
      </script>
{% endblock %}