{% extends "layout.html" %}

{% block title %}
    Medialunas - Home
{% endblock %}

{% block main %}
    <h1 class="title"> Medialunas </h1>
    <!-- <div class="btn-container">
        <a href="/agregar" id="btn-agregar" class="custom-color btn btn-lg">Agregar</a>
    </div> -->
    <div class="search-bar-section">
        <label for="search-bar"> Barra de búsqueda </label>
        <input type="text" id="search-bar">
        <select name="selected-filter" id="selected-filter">
            {% for columna in columnas_medialunas %}
                <option value="{{ columna }}"> {{ columna }} </option>
            {% endfor %}
        </select>
    </div>
    <div class="table-responsive-sm">
        <table id="main-table" class="main-table table table-sm table-hover table-bordered border-dark">
            <caption>
                 Lista de medialunas 
                 <a href="/agregar" id="link-agregar">
                    <h6 class="link-title"> (Agregar) </h6> 
                </a> 
            </caption>
            <thead class="">
                <tr>
                    {% for columna in columnas_medialunas %}
                    <td> {{ columna }} </td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for medialuna in medialunas %}
                <tr class="main-row" data-url="{{ url_for('mostrar_detalle', id=medialuna[0]) }}">
                    {% for valor in medialuna %}
                    <td class="truncate"> {{ valor }} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Attribution to favicon creators -->
     <div class="icon-attribution">
        <a href="https://www.flaticon.com/free-icons/bread" title="bread icons">Bread icons created by Smashicons - Flaticon</a>
     </div>
   
    <script src="../static/index.js"></script>
{% endblock %}