{% extends "layout.html" %}

{% block title %}
    Medialuna Nº: {{ medialuna["id"] }}
{% endblock %}

{% block main %}
<div class="container table-responsive-sm">
    <table class="table table-sm table-hover table-bordered">
        <caption> Vacio </caption>
        <tbody>
            {% for key in medialuna %}
            <tr>
                <td>
                    {{ key }}
                </td>
                <td>
                    {{ medialuna[key] }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}